
p, li {
	max-width: 35em;
	text-align: justify;
}

p.header {
	word-spacing: 1em      ;
	margin      : 0        ;
	padding     : 0 0 5px 0;
	border-width: 0 0 2px 0;
	border-style: solid    ;
	border-color: gray     ;
}

p.footer {
	word-spacing: 1em      ;
	padding     : 5px 0 0 0;
	border-width: 2px 0 0 0;
	border-style: solid    ;
	border-color: gray     ;
}

a { word-spacing: normal; }

sup, sub { font-size: 50%; }

.command { font-family: Monospace; }
